* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* primary */
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --graphicDesignColor: hsl(167, 40%, 24%);
    --photographyColor: hsl(198, 62%, 26%);
    --footerColor: hsl(168, 34%, 41%);

    /* neutrals */
    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);

    /* fonts */
    --font1: 'Barlow'; /* fallback: 'sans serif' */
    --font2: 'Fraunces'; /* fallback: 'serif' */
    font-family: var(--font1, 'sans-serif');
}

html, body {
    height: 160%;
    width: 100%;
}

header {
    height: 30%;
    width: 100%;
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10%;
}

.headerWrapper {
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 20%;
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 70% 40%;
}

.menuIcon {
    display: none;
}

.menu {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu p {
    font-size: clamp(1vw, 1.1vw, 1.5vw);
    color: white;
}

.contact {
    display: block;
    height: 60%;
    width: 25%;
    font-family: var(--font2, 'serif');
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black !important;
    border-radius: 25px;
}

.contact:hover {
    background-color: hsl(211, 82%, 78%);
    color: white !important;
    cursor: pointer;
}

.heading {
    font-size: max(2vw, 2.5vw, 3vw);
    font-family: var(--font2, 'serif');
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: white;
}

.arrow {
    height: 40%;
    width: 100%;
    background-image: url("images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5% 40%;
    position: absolute;
    bottom: 25%;
}

.transform, .standout {
    height: 20%;
    width: 100%;
    display: flex;
}

.standout {
    flex-direction: row-reverse;
}

.textWrapper {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
}

.textWrapper * {
    width: 55%;
}

.textWrapper .title {
    font-size: clamp(2vw, 2.5vw, 3vw);
    font-family: var(--font2, 'serif');
    color: var(--veryDarkDesaturatedBlue);
}

.textWrapper .description {
    font-size: 1.1vw;
    color: var(--darkGrayishBlue);
}

.textWrapper .learnmore {
    height: 2%;
    position: relative;
}

.textWrapper .learnmore p {
    text-transform: uppercase;
    font-size: 0.8vw;
    font-family: var(--font2, 'serif');
    color: var(--veryDarkDesaturatedBlue);
    position: absolute;
    z-index: 2;
}

.textWrapper .learnmore p:hover {
    cursor: pointer;
}

.textWrapper .learnmore div {
    height: 80%;
    width: 22%;
    border-radius: 25px;
    position: absolute;
    top: 150%;
    z-index: 1;
}

.transform .textWrapper .learnmore div {
    background-color: var(--yellow);
}

.standout .textWrapper .learnmore div {
    background-color: var(--softRed);
}

.imageWrapper {
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: contain;
}

.transform .imageWrapper {
    background-image: url("images/desktop/image-transform.jpg");
}

.standout .imageWrapper {
    background-image: url("images/desktop/image-stand-out.jpg");
}

.graphic-photo {
    height: 25%;
    width: 100%;
    display: flex;
}

.textWrapper2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 5%;
    padding-bottom: 4%;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-align: center;
}

.graphic {
    background-image: url("images/desktop/image-graphic-design.jpg");
    color: var(--graphicDesignColor);
}

.photo {
    background-image: url("images/desktop/image-photography.jpg");
    color: var(--photographyColor);
}

.textWrapper2 .title2 {
    width: 50%;
    text-transform: capitalize;
    font-family: var(--font2, 'serif');
    font-size: 1.6vw;
}

.textWrapper2 .description2 {
    width: 40%;
    font-size: 0.9vw;
}

.testimonials {
    height: 25%;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4%;
}

.testimonialsHeading {
    height: 10%;
    font-family: var(--font2, 'serif');
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    color: var(--grayishBlue);
}

.testimonialsWrapper {
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    column-gap: 5%;

    text-align: center;
}

.testimonialWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5%;
}

.testimonialWrapper img {
    height: 20%;
    width: 20%;
    border-radius: 50%;
}

.quote {
    font-size: 1vw;
    color: var(--veryDarkGrayishBlue);
    margin: 6% 0%;
}

.name {
    font-size: 1.1vw;
    font-family: var(--font2, 'serif');
    color: var(--veryDarkDesaturatedBlue);
}

.position {
    font-size: 1vw;
    color: var(--grayishBlue);
}

.images {
    height: 20%;
    width: 100%;
    display: flex;
}

.imagesWrapper {
    width: 50%;
    display: flex;
}

.img {
    width: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.img1 {
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

.img2 {
    background-image: url("images/desktop/image-gallery-orange.jpg");
}

.img3 {
    background-image: url("images/desktop/image-gallery-cone.jpg");
}

.img4 {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
    height: 15%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15%;
    background-color: hsl(168, 34%, 65%);
}

.logo2 {
    height: 10%;
    width: 10%;
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.menu2 {
    display: flex;
    column-gap: 30%;
    justify-content: center;
}

.menu2 p {
    font-size: 1.4vw;
    color: var(--footerColor);
}

.menu2 p:hover {
    cursor: pointer;
    color: white;
}

.icons {
    height: 7%;
    display: flex;
    justify-content: center;
    column-gap: 30%;
}

.icons img {
    width: 100%;
    height: 100%;
}

.icons img:hover {
    cursor: pointer;
    color: white;
    filter: opacity(0.5) drop-shadow(0 0 0 white);
}

@media screen and (max-width: 800px) {
    html, body {
        height: 215%;
    }

    header {
        height: 15%;
        background-image: url("images/mobile/image-header.jpg");
    }

    .arrow {
        bottom: 20%;
    }

    .headerWrapper {
        position: relative;
    }

    .menu {
        height: 200%;
        width: 97%;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px 0px;
        row-gap: 20px;
        position: absolute;
        top: 100%;
        background-color: white;
        color: black;
        opacity: 0;
    }

    .dropdownArrow {
        position: absolute;
        top: -14px;
        right: 0;
        border-width: 7px;
        border-style: solid;
        border-color: transparent white white transparent;
        color: white;
        opacity: 0;
    }

    .menu p {
        font-size: 1rem;
        color: var(--darkGrayishBlue);
    }

    .contact {
        height: 20%;
        width: 50%;
        background-color: var(--yellow);
    }

    .logo {
        height: 100%;
        width: 30%;
        background-size: 100% 60%;
    }

    .menuIcon {
        height: 100%;
        width: 10%;
        display: block;
        background-image: url("images/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40% 25%;
    }

    .heading {
        width: 80%;
        font-size: 2rem;
        text-align: center;
    }

    .transform, .standout {
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .transform .imageWrapper {
        background-image: url("images/mobile/image-transform.jpg");
    }
    
    .standout .imageWrapper {
        background-image: url("images/mobile/image-stand-out.jpg");
    }

    .textWrapper {
        height: 50%;
        width: 100%;
        text-align: center;
    }

    .imageWrapper {
        height: 50%;
        width: 100%;
    }

    .textWrapper * {
        width: 80%;
    }

    .textWrapper .title {
        font-size: 1.5rem;
    }

    .textWrapper .description {
        font-size: 1rem;
    }

    .textWrapper .learnmore {
        display: flex;
        justify-content: center;
    }

    .textWrapper .learnmore div {
        width: 30%;
        top: 250%;
    }

    .textWrapper .learnmore p {
        font-size: 0.8rem;
    }

    .graphic-photo {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .textWrapper2 {
        height: 50%;
        width: 100%;
    }

    .graphic {
        background-image: url("images/mobile/image-graphic-design.jpg");
    }
    
    .photo {
        background-image: url("images/mobile/image-photography.jpg");
    }

    .textWrapper2 .title2 {
        width: 80%;
        font-size: 1.5rem;
    }

    .textWrapper2 .description2 {
        width: 80%;
        font-size: 1rem;
    }

    .testimonials {
        height: 28%;
        row-gap: 0;
        justify-content: flex-start;
    }

    .testimonialsHeading {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .testimonialsWrapper {
        height: 90%;
        flex-direction: column;
        justify-content: flex-start;
        column-gap: 0;
        row-gap: 15px;
    }

    .testimonialWrapper {
        height: 30%;
        row-gap: 10px;
    }

    .testimonialWrapper img {
        height: 30%;
        width: 30%;
    }

    .quote {
        margin: 1% 0%;
        font-size: 0.9rem;
    }

    .name {
        font-size: 1rem;
    }

    .position {
        font-size: 0.9rem;
    }

    .images {
        height: 20%;
        flex-direction: column;
    }
    
    .imagesWrapper {
        height: 50%;
        width: 100%;
    }

    .img1 {
        background-image: url("images/mobile/image-gallery-milkbottles.jpg");
    }
    
    .img2 {
        background-image: url("images/mobile/image-gallery-orange.jpg");
    }
    
    .img3 {
        background-image: url("images/mobile/image-gallery-cone.jpg");
    }
    
    .img4 {
        background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
    }

    .footer {
        height: 10%;
    }

    .logo2 {
        height: 15%;
        width: 50%;
    }

    .menu2 {
        column-gap: 10%;
    }

    .menu2 p {
        font-size: 1rem;
    }

    .icons {
        height: 5%;
    }
}